.join {
  .sub_visual {
    &::after {
      background: url(../img/join.jpg) no-repeat center/cover;
      background-attachment: fixed;
    }
  }

  .inner {
    h2 {
      font: bold 18px/1 $headerFont;
      color: #fff;
      margin-bottom: 20px;
      background-color: #000;
      padding: 5px;
      text-align: center;
      &:nth-of-type(1) {
        margin-bottom: 0px;
      }
    }
    #terms {
      width: 100%;
      height: 100px;
      resize: none;
      font: 12px/1.3 "arial";
      color: #555;
      background-color: #fff;
      margin-bottom: 20px;
      padding: 20px;
    }
    .agreement {
      text-align: center;
      margin-bottom: 70px;
      label[for="agree"] {
        font: 16px/1 $koreaFont;
      }
    }
    .wrapper {
      display: flex;
      justify-content: space-evenly;
      table {
        width: 40%;
        // margin: 0 auto;
        th {
          font: 20px/1 $koreaFont;
          padding: 20px 0;
          text-align: left;

          &.btns {
            text-align: center;
            input[type="submit"],
            input[type="reset"] {
              width: 150px;
              height: 40px;
              border: none;
              background: #000;
              font: bold 14px/1 "arial";
              color: #fff;
              margin-top: 30px;
              cursor: pointer;
              &:hover {
                background-color: #333;
              }
            }
          }
        }
        td {
          text-align: left;
          input {
            padding: 10px 5px;
            width: 100%;
            font: 18px/1 $koreaFont;
          }
          #month {
            width: 100%;
            padding: 10px 5px;
            font: 18px/1 $koreaFont;
          }
          #gender {
            padding: 10px 5px;
            width: 100%;
            font: 18px/1 $koreaFont;
          }
          p {
            display: inline-block;
            color: red;
            font-size: 12px;
            margin-top: 5px;
          }
        }
        .birthBox {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .year_box {
            width: 30%;
          }
          .month_box {
            width: 30%;
          }
          .day_box {
            width: 30%;
          }
        }
      }
      .img {
        width: 40%;

        background: url(../img/join2.jpg) no-repeat bottom/cover;

        filter: grayscale(100%);
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .join {
    .inner {
      .wrapper {
        table {
          width: 80%;
        }
        .img {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .join .inner .wrapper table .birthBox {
    .year_box {
      width: 100%;
    }
    .month_box {
      width: 100%;
      margin-top: 10px;
    }
    .day_box {
      width: 100%;
      margin-top: 10px;
    }
  }
}
