.youtube {
  background-color: #000;
  padding: 0;
  transition: 0.5s;

  .sub_visual {
    margin-bottom: 0;
    &::after {
      background: url(../img/youtube.jpg) no-repeat bottom/cover;
      background-attachment: fixed;
    }
  }
  .colorChange {
    width: 150px;
    height: 50px;
    background-color: #fff;
    margin: 80px 0 0 150px;
    border-radius: 30px;
    position: relative;
    &.on {
      background-color: #000;
    }
    .ball {
      position: absolute;
      top: 2.5px;
      left: 2.5px;
      width: 45px;
      height: 45px;
      background-color: #000;
      border-radius: 50%;
      cursor: pointer;
      transition: 1s;
      &.on {
        position: absolute;
        top: 2.5px;
        left: 100px;
        width: 45px;
        height: 45px;
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }

  .main {
    width: 100%;
    padding: 100px 0;

    position: relative;
    article {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      background-color: #000;
      border-bottom: 1px solid #aaa;
      font-family: $Alegreya;
      position: relative;
      padding: 50px;
      transition: 0.5s;
      animation: drop 1s linear;
      &:first-child {
        border-top: 1px solid #aaa;
      }
      .pic {
        height: 300px;
        width: 40%;
        min-width: 300px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .con {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        h2 {
          color: #fff;
          text-align: center;
          font-size: 2vw;
          font-family: $sora;
        }
        p {
          color: #aaa;
          text-align: left;
          font-size: 18px;
        }
        span {
          color: rgb(236, 201, 168);
          font-size: 16px;
        }
      }
    }
    > span {
      display: inline-block;
      color: #000;
      position: absolute;
      bottom: 1%;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px;
      background-color: #fff;
      font-family: $sora;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        transform: translateX(-50%) scale(0.9);
      }
    }
  }
}
.youtube_aside {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  padding: 8vh 5vw;
  background-color: rgba(0, 0, 0, 0.8);

  .btnClose {
    position: absolute;
    top: 3%;
    right: 5%;
    color: #fff;
    font-family: $sora;
    background-color: orange;
    font: bold;
    letter-spacing: 2px;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      transform: scale(0.9);
    }
  }
}

.youtube {
  &.white {
    background-color: #fff;
    padding: 0;

    .sub_visual {
      margin-bottom: 0;
      &::after {
        background: url(../img/youtube.jpg) no-repeat bottom/cover;
        background-attachment: fixed;
      }
    }

    .main {
      width: 100%;
      padding: 100px 0;

      position: relative;
      article {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background-color: #fff;
        border-bottom: 1px solid #aaa;
        font-family: $Alegreya;
        position: relative;
        padding: 50px;
        transition: 0.5s;
        animation: drop 1s linear;
        &:first-child {
          border-top: 1px solid #aaa;
        }
        .pic {
          height: 300px;
          width: 40%;
          min-width: 300px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .con {
          width: 40%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          h2 {
            color: #222;
            text-align: center;
            font-size: 2vw;
            font-family: $sora;
          }
          p {
            color: rgb(109, 109, 109);
            text-align: left;
            font-size: 18px;
          }
          span {
            color: rgb(211, 124, 43);
            font-size: 16px;
          }
        }
      }

      > span {
        display: inline-block;
        color: #fff;
        position: absolute;
        bottom: 1%;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
        background-color: #000;
        font-family: $sora;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
          transform: translateX(-50%) scale(0.9);
        }
      }
    }
  }
}

@keyframes scaleUp {
}

@media screen and (max-width: $tablet) {
  .youtube {
    .main {
      article {
        .con {
          padding-left: 10px;
        }
      }
    }
  }
  .youtube_aside {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    padding: 8vh 5vw;
    background-color: rgba(0, 0, 0, 0.8);

    .btnClose {
      position: absolute;
      top: 3%;
      right: 5%;
      color: #fff;
      font-family: $sora;
      background-color: orange;
      font: bold;
      letter-spacing: 2px;
      padding: 5px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: $mobile) {
  .youtube .colorChange {
    margin: 10px;
    margin-top: 30px;
    transition: 0.5s;
  }
  .youtube .main article {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .pic {
      width: 100%;
    }
    .con {
      width: 100%;
      p {
        margin: 20px 0;
      }
    }
  }
  .youtube {
    &.white {
      .main {
        article {
          .pic {
            width: 100%;
          }
          .con {
            width: 100%;
            h2 {
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}
